**
!package.json
!package-lock.json
!Dockerfile
!docker-entrypoint.sh
!dist/
!dist/**
!templates/
!templates/**
!docs/
!docs/**
!.treeseed/
!.treeseed/docker/
!.treeseed/docker/treeseed-sdk.tgz
!.treeseed/docker/runtime/
!.treeseed/docker/runtime/**
